html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  font-family: sans-serif;
}

#game-canvas {
  display: block;
  background: #e6ddf5;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;
  image-rendering: pixelated;
}
